:root{
    --primary-color: #4facfe;
    --secondary-color: #00f2fe;
    --background-color: #e0f7ff;
    --card-color: rgba(255,255,255,0.2);
    --text-color: #faf9f7;
    --dark-text: #1e293b;
    --button-color: #2563eb;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

#main_container{
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        var(--primary-color),
        var(--secondary-color)
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

#container1{
    width: 80%;
    min-height: 35vh;

    background: var(--card-color);

    backdrop-filter: blur(10px);

    color: var(--text-color);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;

    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    transition: transform  10s  ;
}
#container1:hover{
    transform:  skew(30deg, -20deg);
}
#container2{
    width: 80%;
    min-height: 40vh;

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px,1fr));

    gap: 15px;
}

.container{

    background: var(--card-color);

    backdrop-filter: blur(10px);

    color: var(--dark-text);

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

    transition: transform 3s ease;
}

.container:hover{
    transform: scale(1.5, 0.9);
}

#form{

    width: fit-content;

    background: var(--button-color);

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;

    padding: 20px;

    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    transition: 5s;
}
#form:hover{
  transform: scale(1.3, 0.9);
}


@media (min-width:655px){

    #form{
        width: 400px;
    }

}

input{

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 10px;

    outline: none;

    font-size: 1rem;
}

#submit{

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 10px;

    background-color: var(--primary-color);

    color: var(--text-color);

    font-size: 1rem;

    cursor: pointer;

    transition: 0.3s;
}

#submit:hover{
    background-color: var(--secondary-color);
    transform: translateY(-3px);
}